# Exclude virtual environments
venv/
env/

# Exclude Python cache files
__pycache__/
*.pyc
*.pyo

# Exclude logs
logs/

# Exclude git-related files
.git/
.gitignore

# Exclude build artifacts
*.egg-info/
*.dist-info/

# Exclude template and demo files (if not necessary for the container)
template.py
demo.py

# Exclude documentation and license files (if not necessary for the container)
README.md
LICENSE

# Exclude other unnecessary files
analysis/
artifact 